header {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  padding: 16px 24px;
  
  @media  (max-width: 880px) {
    width: 100%;
    justify-content: space-between;
  }

  .visibility-hidden {
    display: none;
  }

  .js-open-cart {
    display: none;
    width: 32px;

    @media  (max-width: 880px) {
      display: block;
    }
  }
}